/* -----------------------------Corps de la page----------------------------- */

body{
	display: flex;
	flex-direction: column;
}

/* -------------------------------Mise en page------------------------------- */

main{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin: 9% 8% 0% 15%;
}

/* ---------------------------------SALUTATION--------------------------------- */

#salut{
	padding-top: 7%;
	border-right: 1px solid var(--Police-sec);
	justify-content: center;
}

#salut>p{width: 60%;}

/* ---------------------------------INFORMATION--------------------------------- */

#message{
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 0% 15%;
}

svg{
	align-self: center;
	width: 65%;
}

svg>path{
	fill: var(--Principal);
	cursor: pointer;
	width: 25%;
}

#info{text-align: center;}

/* ----------------------------------BOUTON---------------------------------- */

button{
	border: 1px solid var(--Principal);
	background-color: var(--Principal);
	border-radius: 90px;
	align-self: center;
	padding: .5% 2%;
	font-size: 20pt;
	transition: .4s;
	margin-top: 6%;
}

button:hover{
	border: 1px solid var(--Secondaire);
	background-color: transparent;
}

button:active{
	border: 1px solid var(--Terciaire);
	color: var(--Terciaire);
}