/*author: IBO Mathys*/

:root{
	--body-text-color: #000;
	--body-background-color: #fff;
	--html-background-color: lightgrey;
	--scrollbar-trackColor: rgb(134, 133, 133);
	--scrollbar-color: rgba(196, 194, 194, 0.9);
	--scrollbar-HoverColor: rgba(212, 209, 209, 0.9);
}

@media(prefers-color-scheme: dark){
	:root{
		--body-text-color: #fff;
		--html-background-color: #161616;
		--body-background-color: #212121;
		--scrollbar-color: rgba(114, 110, 110, 0.9);
		--scrollbar-HoverColor: rgba(139, 133, 133, 0.9);
		--scrollbar-trackColor: rgb(129, 129, 129);
	}
}

/*HTML/body*/
html{background-color: var(--html-background-color);}

body{
	background-color: var(--body-background-color);
	color: var(--body-text-color);
	font-family: Arial, sans-serif;
}

/*Navbar*/
nav{
	display: flex;
	flex-direction: row;
	justify-content: end;
	margin-right: 1.8rem;
}

.navLink{
	color: var(--body-text-color);
	text-decoration: none;
}

ul>.navLink:hover, nav>ul:hover{
	transform: scale(1, 1.15);
	transition-duration: 0.5s;
	text-decoration: underline;
}

.navLink:visited{text-decoration: none;}

.line{
	border-left: 1px solid grey;
	margin-top: 15px;
	margin-left: 3%;
	height: 20px;
}

/*ScrollBar*/
::-webkit-scrollbar{width: 15px;} /* Paramètres ScrollBar */

::-webkit-scrollbar-track{ /* Intérieur ScrollBar*/
	box-shadow: inset 0 0 15px var(--scrollbar-trackColor);
	border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover{background: var(--scrollbar-HoverColor);} /* Indicateur */
::-webkit-scrollbar-thumb{ 
	background: var(--scrollbar-color);
	border-radius: 6px;
}

/*CV*//*Projet*//*Contact*/