:root{--body-text-color: black;}
@media(prefers-color-scheme: dark){
	:root{--body-text-color: white;}
}

/*HTML/body*/
.container{
	margin-left: 4rem;
	margin-right: 4rem;
	padding-left: 2rem;
	padding-bottom: 5rem;
}

/*Barre du haut + Titre*/
#fracture{width: 88%; background: grey;}
h1{margin-top: 2rem; margin-bottom: 4rem;}

/*Images contact*/
#phone{width: 55%; padding-left: 5%; padding-top: 2%;}
#Lnkdn{width: 75%; padding-top: 5%;}
#Email{width: 75%; padding-top: 4%;}
#GitHub{width: 75%; padding-top: 4%;}

/*Tél, LinkedIn, Mail etc.*/
#call, #LinkedIn, #GIT, #courriel{
	display: flex;
	flex-direction: column;
	margin-right: 5%;
	margin-left: 7%;
}

.head{display: flex; flex-direction: row;}

#color{
	width: 5%;
	padding-top: 1.5%;
	padding-left: 1.6%;
	padding-bottom: 1.5%;
	background-color: darkviolet;
	margin-right: 0.28%;
}

.title{
	font-size: 32pt;
	padding-top: 0.6%;
	padding-left: 1.5%;
	border-left: 1px solid rgba(211, 211, 211, 0.541);
	border-bottom: 1px solid rgba(211, 211, 211, 0.541);
}

#sizeTitre1{width: 75%;}
#sizeTitre2{width: 65%;}
#sizeTitre3{width: 45%;}
#sizeTitre4{width: 55%;}

#space{
	font-size: 18pt;
	margin-left: 9.3%;
	padding-top: 3.5%;
	padding-bottom: 4%;
}

#space2{margin-left: 2.5%;}
#mail, #mail:active, #mail:hover, #mail:visited{
	color: var(--body-text-color);
	text-decoration: none;
}