/*HTML/body*/
.container{
	padding-bottom: 3rem;
	padding-left: 2rem;
	margin-right: 4rem;
	margin-left: 4rem;
}

h1{
	font-size: 32pt;
	font-style: italic;
}

/*Projet Sonic*/
#nomPrj{
	padding-left: 2rem;
	margin-bottom: 2rem;
	font-style: italic;
	font-size: 34pt;
}

#sonicImg{width: 11%;}
#titrePrj{display: flex; flex-direction: row;}

#imgBox{
	margin-bottom: 3rem;
	margin-left: 12.5%;
	overflow: hidden;
	width: 840px;
}

.bande{
	display: flex;
	animation-name: Slider; 
	animation-duration: 22s;
	animation-iteration-count: infinite;
}

@keyframes Slider {
	0%{transform: translateX(-0px);}
	25%{transform: translateX(-840px);}
	50%{transform: translateX(-1680px);}
	75%{transform: translateX(-2520px);}
	100%{transform: translateX(-3360px);}
}

/*Projet Zelda*/
#nomPrj2{
	margin-bottom: 2rem;
	padding-left: 2rem;
	font-style: italic;
	padding-top: 5px;
	font-size: 28pt;
}

#zeldaImg{width: 10%;}
#titrePrj2{display: flex; flex-direction: row;}

#imgBox2{
	margin-left: 18%;
	overflow: hidden;
	width: 728px;
}

.bande2{
	display: flex;
	animation-name: Slider2; 
	animation-duration: 22s;
	animation-iteration-count: infinite;
}

@keyframes Slider2 {
	0%{transform: translateX(-0px);}
	25%{transform: translateX(-728px);}
	50%{transform: translateX(-1456px);}
	75%{transform: translateX(-2184px);}
	100%{transform: translateX(-2912px);}
}