
/* Gestion automatique des couleurs du site */

@media (prefers-color-scheme: dark){
	:root{
		--Fond: #181A1B;
		--Police: #f9f6ff;
		--Police-sec: #89888d;
		--btnFontCol: #f9f6ff;
		--Principal: #6320EE;
		--Secondaire: #907AD6;
		--Terciaire: #08A4BD;
	}
}

@media (prefers-color-scheme: light){
	:root{
		--Fond: #FBFBFB;
		--Police: #151515;
		--Police-sec: #69747C;
		--btnFontCol: #151515;
		--Principal: #6320EE;
		--Secondaire: #907AD6;
		--Terciaire: #1B9AAA;
	}
}
